<h1>SWAMPCHELLA</h1>
<h2>July 4, 2026 at the Swamp</h2>
<%= link_to "Sign up for a performance!", new_performance_path %>
<p>This is the future home page for Swampchella 2026 performance sign ups. Stay tuned!</p>
